@import "tailwindcss";

@theme {
  --color-bg: #0B132B;
  --color-title: #03e9f4;
  --color-underline : #A8FF60;
  --color-button : #ff917D;
  --color-button-hover : #FF6B6B;
  --color-header : #1a1f36;
  extend: {
    keyframes: {
      fadeUp: {
        '0%': { opacity: '0', transform: 'translateY(30px)' },
        '100%': { opacity: '1', transform: 'translateY(0)' },
      },
    },
    animation: {
      fadeUp: 'fadeUp 0.8s ease-out forwards',
      fadeInUp: 'fadeUp 1s ease-out',
    },
  },
}

@keyframes borderGlow {
  0%, 100% {
    box-shadow:
      0 0 3px #03e9f4,
      0 0 10px #03e9f4,
      0 0 20px #03e9f4;
  }
  50% {
    box-shadow:
      0 0 5px #03e9f4,
      0 0 15px #03e9f4,
      0 0 30px #03e9f4;
  }
}


.animate-borderGlow {
  animation: borderGlow 3s linear infinite;
}
